* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  background: conic-gradient (rgb(37, 72, 109), #4a90e2);
  color: #333;
  padding: 20px;
  height: 100vh;
}
