:root {
  --background-color: #f4f4f4;
  --font-family: "jetsbrains-mono", Arial, serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-family: var(--font-family);
  padding: 2rem;
  text-decoration: none;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

