* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  gap: 10px;
  background: #eee;
  height: 100vh;
}
.item {
  background: lightcoral;
  color: white;
  font-size: 1, 5rem;
  text-align: center;
  place-items: center;
}
